.DS_Store
.idea
*.log
tmp/
/.clj-kondo
/.clj-kondo
/.clj-kondo/.cache
/.clj-kondo/.cache/v1
.clj-kondo/.cache/v1/clj/user.transit.json
/.lsp
/.cpcache
/.dir-locals.el
.nrepl-port
.cpcache/1727746262.basis
.cpcache/2340260705.basis
.calva
