

@font-face {
  font-family: "IBM Plex Sans";

  src: url("fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Serif";

  src: url("fonts/IBMPlexSerif-Regular.ttf");
}

@font-face {
  font-family: "Teranoptia";

  src: url("fonts/Teranoptia-Furiae.ttf");
}

html {
  font-family: "IBM Plex Serif";
  padding: 2vh 4vw
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

h1 {
  margin: 2px
}

.focus\:bg-hl-sepia\/40:focus {
  background-color: rgb(250 216 191 / 0.4);
}

