

@font-face {
  font-family: "IBM Plex Sans";

  src: url("fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Serif";

  src: url("fonts/IBMPlexSerif-Regular.ttf");
}

@font-face {
  font-family: "Teranoptia";

  src: url("fonts/Teranoptia-Furiae.ttf");
}

html {
  font-family: "IBM Plex Serif";
  padding: 2vh 4vw;
  font-size: 17px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.title-logo {
  margin-right: auto
}

p {
  margin: 0.33rem 0;
}

ul {
  list-style-type: nonepages/layout;
}

h1 {
  margin: 2px
}

article {
  margin: auto 18vw;
  padding-left: 2vw;
  padding-top: 1vw;
}

/* asides from https://scripter.co/sidenotes-using-only-css/ */
aside {
    font-size: 80%;
    position: relative;
}
/* Wide viewport */
@media (min-width: 1400px) {
  aside {
    float: left;
    clear: left;
    margin-left: -23vw;
    text-align: left;

    top: -3rem;
    width: 20vw;
    margin-top: 1rem;
  }
  article {
    width: 40vw;
    border-left: solid;
    border-left-width: 1px;
  }
}
/* Narrow viewport */
@media (max-width: 1400px) {
  aside {
    float: left;
    text-align: left;

    width: 100%;
    margin: 0.33rem 0;
    padding-left: 15%;
  }
  article {
    margin: auto;
  }
}
